* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(49, 49, 223);
}

main {
    display: flex;
}

.left-container {
    margin: 250px 90px;
    width: 50%;
    
    line-height: 40px;
}

.right-container {
    margin: 250px 90px;
    width: 50%;
    
    line-height: 40px;
}

/* #nameHead {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#title {
    display: flex;
    justify-content: center;
    margin-top: 0px;
} */

body {
    border: 5px solid blue;
    margin: 40px;
}

.heading {
    position: absolute;
    top: 10px;
    left: 700px;
    background-color: white;
    padding: 0 20px;
}